* {
    margin: 0;
    padding: 0;
}



html {
    height: 100%;
    background: linear-gradient(#5A4C42, #564D60);
}

body {
    background: none;
    font-family: fantasy;
}

#miracleForm {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

#miracleForm fieldset {
    background: #ffffff;
}



#progressList {
    counter-reset: step;
}

#progressList li {
    list-style-type: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressList li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #ffffff;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

#progressList li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #ffffff;
    top: 10px;
    left: -50%;
    position: absolute;
    z-index: -1;
}

#progressList li:first-child:after {
    content: none;
}

#progressList li.active:before {
    background: #05BF3A;
    color: #ffffff;
}

#progressList li.active:after {
    background: #05BF3A;
    color: #ffffff;
}

#miracleForm fieldset:not(:first-of-type) {
    display: none;
}

#miracleForm input, #miracleForm textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
}

#miracleForm .next-button, #miracleForm .previous-button, #miracleForm .submit-button {
    width: 120px;
    background-color: #05BF3A;
}





